.workout-data {
	box-sizing: border-box;
	font-size: 1rem;
	width: 400px;
	height: 300px;
}

.workout-data .header {
	font-weight: 700;
	min-height: 2em;
	line-height: 2em;
	text-align: center;
}

.workout-data .body {
	background-color: white;
	height: 265px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.workout-data .selected-date {
	font-weight: 600;
	min-height: 2em;
	font-size: 1rem;
	line-height: 2em;
	text-align: center;
	margin-bottom: 1em;
}

.workout-data .user-input-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 200px;
}

.workout-data .user-input-wrapper .user-input {
	margin: 0.5em;
	display: flex;
	justify-content: space-between;
}

.workout-data .user-input-wrapper .submit-button {
	margin: auto;
	max-width: 60px;
	justify-self: center;
}
