.workout-stats {
	box-sizing: border-box;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;
	margin-top: 1.5em;
	width: 95%;
}

.workout-stats .header {
	font-weight: 700;
	min-height: 2em;
	line-height: 2em;
	text-align: center;
	background-color: none;
}

.workout-stats .body {
	background-color: white;
	margin-top: 0.5em;
	border-radius: 10px;
}

.workout-stats .display {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1em;
}

.workout-stats .display .stats {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.workout-stats .display .stats .stat-name {
	font-weight: 600;
	min-height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	margin-right: 0.5em;
}

.workout-stats .display .stats .stat-data {
	font-weight: 400;
	min-height: 1.5em;
	line-height: 1.5em;
	text-align: center;
}

.workout-stats .activity-board-wrapper {
	margin: auto;
	margin-top: 1.5em;
	width: 60%;
}

@media (max-width: 600px) {
	.workout-stats .body {
		font-size: 0.8em;
	}
}
