.workout-stats {
	box-sizing: border-box;
	font-size: 1rem;
	height: 120px;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.workout-stats .header {
	font-weight: 700;
	min-height: 2em;
	line-height: 2em;
	text-align: center;
}

.workout-stats .display {
	display: flex;
	justify-content: space-evenly;
}

.workout-stats .display .stats {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.workout-stats .display .stats .stat-name {
	font-weight: 600;
	min-height: 1.5em;
	line-height: 1.5em;
	text-align: center;
}

.workout-stats .display .stats .stat-data {
	font-weight: 400;
	min-height: 1.5em;
	line-height: 1.5em;
	text-align: center;
}
